@import ./variables.sass

@font-face
  font-family: 'Manuka-Regular'
  src: url('../fonts/Manuka-Regular.woff2') format('woff2')

*
  box-sizing: border-box

body
  margin: 0
  color: $black
  font-family: pragmatica, sans-serif

.title
  font-family: Manuka-Regular, sans-serif
  font-size: 32px

.hide-scrollbar
  -ms-overflow-style: none
  scrollbar-width: none

  &::-webkit-scrollbar
    display: none

.background
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: linear-gradient( 0deg, $gradient-color-1, $gradient-color-2, $gradient-color-3, $gradient-color-4 )
  background-size: 100% 800%

  -webkit-animation: background-gradient 30s ease infinite
  -moz-animation: background-gradient 30s ease infinite
  animation: background-gradient 30s ease infinite

.container
  position: fixed
  top: $spacing-2
  bottom: $spacing-2
  left: 50%
  transform: translateX(-50%)
  overflow-y: auto
  width: $container-width
  position: fixed
  background: $white
  padding: $spacing-2
  border-radius: $unit-radius
  border: 2px solid $black
  box-sizing: content-box

.parent
  display: grid
  grid-template-columns: repeat($num-columns, 1fr)
  grid-column-gap: $spacing
  grid-row-gap: $spacing

.item
  height: $unit-height
  background: $white
  display: flex
  align-items: center
  justify-content: center
  border-radius: $unit-radius
  border: 2px solid $black
  overflow: hidden

  &.no-box
    border: none

  &.radius-2
    border-radius: calc($unit-radius * 2)

  &.radius-3
    border-radius: calc($unit-radius * 3)

  &.radius-4
    border-radius: calc($unit-radius * 4)

  &.col-2
    grid-column: span 2

  &.col-3
    grid-column: span 3

  &.col-4
    grid-column: span 4

  &.row-2
    height: calc($unit-height * 2 + $spacing)
    grid-row: span 2

  &.row-3
    height: calc($unit-height * 3 + $spacing * 2)
    grid-row: span 2

  &.row-4
    height: calc($unit-height * 4 + $spacing * 3)
    grid-row: span 2

  & &-image
    height: 100%

  &.collapse-container
    display: block
    height: auto
    max-height: $unit-height
    transition: max-height 0.7s ease-in-out

  &.collapse-container.open
    max-height: 999px

  &.collapse-container .collapse-toggle
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    height: $unit-height

.collapse-content
  margin: 0 $spacing $spacing-2 $spacing

@keyframes background-gradient
  from
    background-position: 50% 0%

  50%
    background-position: 50% 90%

  100%
    background-position: 50% 0%
