@import ./variables.sass

@font-face
  font-family: 'Manuka-Regular'
  src: url('../fonts/Manuka-Regular.woff2') format('woff2')

*
  box-sizing: border-box

body
  margin: 0
  color: $black
  font-family: pragmatica, sans-serif
  font-size: 18px

a
  color: $black
  text-decoration: underline
  text-decoration-thickness: 2.5px
  text-decoration-color: $purple

h1, h2, h3, h4
  font-family: Manuka-Regular, sans-serif
  text-align: center
  font-weight: normal

.title
  font-family: Manuka-Regular, sans-serif
  font-size: $font-size
  @media screen and ( max-width:  $mob)
    font-size: $font-size-mob

.hide-scrollbar
  -ms-overflow-style: none
  scrollbar-width: none

  &::-webkit-scrollbar
    display: none

.background
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  // background: linear-gradient( 0deg, $gradient-color-1, $gradient-color-2, $gradient-color-3, $gradient-color-4 )
  background-size: 100% 2000%

  -webkit-animation: background-gradient 200s ease infinite
  -moz-animation: background-gradient 200s ease infinite
  animation: background-gradient 200s ease infinite

  @media only screen and (max-width: $mob)
    display: none

.container
  position: fixed
  top: $spacing-2
  bottom: $spacing-2
  left: 50%
  transform: translateX(-50%)
  overflow-y: auto
  width: $container-width
  position: fixed
  background: $white
  padding: $spacing-2
  border-radius: $unit-radius
  border: $border-weight solid $black
  box-sizing: content-box

  @media only screen and (max-width: $mob)
    width: 100%
    position: static
    transform: none
    border: none
    box-sizing: border-box
    border-radius: 0
    padding: $spacing-mob-2

  .radius-2
    border-radius: calc($unit-radius * 2)
    @media only screen and (max-width: $mob)
      border-radius: calc($unit-radius-mob * 2)

  .radius-3
    border-radius: calc($unit-radius * 3)
    @media only screen and (max-width: $mob)
      border-radius: calc($unit-radius-mob * 3)

  .radius-4
    border-radius: calc($unit-radius * 4 + $spacing)
    @media only screen and (max-width: $mob)
      border-radius: calc($unit-radius-mob * 4 + $spacing-mob)

  .radius-6
    border-radius: calc($unit-radius * 6 + $spacing-2)
    @media only screen and (max-width: $mob)
      border-radius: calc($unit-radius-mob * 6 + $spacing-mob-2)

  .radius-8
    border-radius: calc($unit-radius * 8 + $spacing-3)
    @media only screen and (max-width: $mob)
      border-radius: calc($unit-radius-mob * 8 + $spacing-mob-3)

  .col-2
    grid-column: span 2

  .col-3
    grid-column: span 3

  .col-4
    grid-column: span $num-columns

  .row-2
    height: calc($unit-height * 2 + $spacing)
    grid-row: span 2
    @media only screen and (max-width: $mob)
      height: calc($unit-height-mob * 2)

  .row-3
    height: calc($unit-height * 3 + $spacing * 2)
    grid-row: span 2
    @media only screen and (max-width: $mob)
      height: calc($unit-height-mob * 3)

  .row-4
    height: calc($unit-height * 4 + $spacing * 3)
    grid-row: span 2
    @media only screen and (max-width: $mob)
      height: calc($unit-height-mob * 4)

.parent
  display: grid
  grid-template-columns: repeat($num-columns, 1fr)
  grid-column-gap: $spacing
  grid-row-gap: $spacing
  @media only screen and (max-width: $mob)
    grid-column-gap: $spacing-mob
    grid-row-gap: $spacing-mob

.item
  height: $unit-height
  background: $white
  display: flex
  align-items: center
  justify-content: center
  border-radius: $unit-radius
  border: $border-weight solid $black
  overflow: hidden

  @media only screen and (max-width: $mob)
    border-radius: $unit-radius-mob
    height: $unit-height-mob

  @media only screen and (max-width: $mob)
    border-radius: $unit-radius-mob

  &.no-box
    border: none

  & &-image
    height: 100%

  &.collapse-container
    display: block
    height: auto
    max-height: $unit-height
    transition: max-height 0.7s ease-in-out

  &.collapse-container.open
    max-height: 999px

.content-block-toggle
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  height: $unit-height
  @media only screen and (max-width: $mob)
    height: $unit-height-mob

.content-block-body
  margin: 0 0 $spacing-mob-2 0
  @media only screen and (max-width: $mob)
    margin: 0 0 $spacing-mob-2 0
  .img-parent-container
    display: flex
    flex-direction: row
  img
    width: 100%
  iframe
    width: 100%
    height: 240px

.content-block-collapse
  grid-column: span $num-columns
  overflow: hidden
  transition: max-height 0.5s ease-in-out

.content-block-bottom-images
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  div, a
    img
      width: 100%

@keyframes background-gradient
  from
    background-position: 50% 0%

  50%
    background-position: 50% 90%

  100%
    background-position: 50% 0%
